*{
    box-sizing: border-box;
}
body{ 
    margin: 0px;
    padding: 50px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.redberry{
    margin: auto;
    width: 80%;
    color: red;
}

section{
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction:row; 
    overflow: hidden;
}

@media screen and (max-width: 1500px) {
    section{
    flex-direction: column;
    width: 100%;

    }
    .redberry{
    width: 100%;
    }

}
.kitxvari{ 
    width: 40%;
    height:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ilustracia{
    width: 650px;
    height: 510px;
    position: relative;
    left: 225px;

}
.bike{
    width: 650px;
    height: 510px;
}
.heart{
    width: 180px;
    height: 180px;
    position: absolute;
    top:60px;
    left:98px;
    opacity: 0.6;
}

#dasruleba {
    border-radius:55px;
    padding: 15px;
    margin-top: 25px;
    position: relative;
    left: 390px;
    border:1px solid #208298;
    color: white;
    background-color:#208298;
}

a{
    text-decoration: none;
    color: white;
    
}
a:visited{
    text-decoration: none;
    
    color: white;
    
}
a:active{ 
    text-decoration: none;
  
}
.gilakebi{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 25px;
}
.gilakebi img { 
    padding: 15px;
    margin: 15px;
}